[workspace]
members = [
    "crates/cli",
    "crates/resolver-cli",
    "crates/voyager-resolver-cairo-1-1-0",
    "crates/voyager-resolver-cairo-1-1-1",
    "crates/voyager-resolver-cairo-2-0-0",
    "crates/voyager-resolver-cairo-2-0-1",
    "crates/voyager-resolver-cairo-2-0-2",
    "crates/dyn-compiler",
]
[workspace.package]
version = "0.1.0"
edition = "2021"
repository = "https://github.com/nethermindeth/voyager-resolver/"
license = "Apache-2.0"
license-file = "LICENSE"

[workspace.dependencies]
anyhow = "1.0.66"
cairo-felt = "0.3.0-rc1"
cairo-vm = "0.3.0-rc1"
camino = { version = "1.1.2", features = ["serde1"] }
clap = { version = "4.0", features = ["derive"] }
colored = "2"
env_logger = "0.9.3"
indoc = "1.0.7"
itertools = "0.10.3"
num-bigint = "0.4"
pretty_assertions = "1.2.1"
rayon = "0.9.0"
salsa = "0.16.1"
serde = { version = "1.0.130", features = ["derive"] }
serde_json = "1.0"
smol_str = "0.2.0"
starknet = { git = "https://github.com/xJonathanLEI/starknet-rs" }
thiserror = "1.0.32"
toml = "0.4.2"
test-log = "0.2.11"
scarb-metadata = "1.4.2"
