[workspace]
members = [
  "crates/cli",
  "crates/voyager-resolver-cairo-2-6-3",
  "crates/dyn-compiler",
]
"resolver" = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"
repository = "https://github.com/NethermindEth/starknet-contract-verifier"
license = "Apache-2.0"
license-file = "LICENSE"

[workspace.dependencies]
anyhow = "1.0.66"
camino = { version = "1.1.2", features = ["serde1"] }
clap = { version = "4.3", features = ["derive"] }
colored = "2"
env_logger = "0.9.3"
indoc = "1.0.7"
itertools = "0.10.3"
num-bigint = "0.4"
pretty_assertions = "1.2.1"
rayon = "0.9.0"
salsa = "0.16.1"
serde = { version = "1.0.130", features = ["derive"] }
serde_json = "1.0"
smol_str = "0.2.0"
thiserror = "1.0.32"
toml = "0.4.2"
test-log = "0.2.11"

# Starknet related dependencies
starknet = "0.10.0"
scarb-metadata = "1.12.0"
