[package]
name = "cli"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow.workspace = true
camino.workspace = true
clap.workspace = true
comfy-table = "6.0.0"
serde.workspace = true
smol_str.workspace = true
thiserror.workspace = true
toml.workspace = true
reqwest = { version = "0.11", features = ["blocking", "json", "multipart"] }
tokio = { version = "1.28.2", features = ["full"] }
url = "2.2.2"
dialoguer = { version = "0.10.4", features = ["fuzzy-select"] }
regex = "1"
strum = "0.25.0"
strum_macros = "0.25.0"

dyn-compiler = { path = "../dyn-compiler" }

# All resolver versions, based on scarb + cairo
voyager-resolver-cairo-2-4-3 = { path = "../voyager-resolver-cairo-2-4-3" }
walkdir = "2.3.3"

[[bin]]
name = "voyager-verify"
path = "src/cli.rs"
